<form asp-controller="CategoriasHabitacion" asp-action="GetAllCategoriasHabitacion" method="get">
    <button type="submit">Cargar Categorías</button>
</form>

<form asp-controller="CategoriasHabitacion" asp-action="CrearCategoriaHabitacion" method="post">
    <button type="submit">Crear Categorias</button>
</form>